
* { box-sizing: border-box; }

body {
	background: #111;
    font-weight: 400;
}

a,a:link,a:visited,a:active { color: inherit; text-decoration: none; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


#twitter {
    margin: 20px;
}

#cover {
    height: 540px;
    background: rgba(255,255,255,0.9);
    padding-top: 60px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1000px;
}

#blurb {
	float:left;
	width: 45%;
	text-align:center;
	padding: 0 20px;
}

#device {
	float:right;
	width: 45%;
	text-align:center;
	padding-right: 40px;
}
#blurb,
#device {
	max-width: 500px;
}

.device {
	width: 300px;
}

.icon {
	background: #fff;
	border-radius: 20px;
	padding: 10px;
	width: 140px;
	margin: 0 auto;
}
.app-store {
	margin: 40px;
}

footer {
	clear:both;
	padding-top: 150px;
	text-align:center;
	font-size: 0.8em;
	color: #ddd;
	font-weight: 300;
}

footer p:last-child {
	font-size: 1.2em;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 20px;
    vertical-align: top;
}

p {
    margin: 30px 0 10px 0;
    font-size: 1.5em;
}

#logo {
    width: 80px;
}


@media(max-width: 767px) {

	#cover {
		height: auto;
	}

	#blurb,
	#device {
		float: none;
		width: 100%;
		height: auto;
		padding: 0 20px 50px 20px;
	}
	footer {
		padding: 30px 20px;
	}

}